.navbar-header {
  background-color: #333;
  position:fixed;
  overflow: hidden;
  width:100%;
  top:0;
  z-index: 1000; /* Adjust the z-index as needed */

}
.navbar-brand {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
ul li a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

